@import "@tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&family=Share+Tech+Mono&family=VT323&display=swap');

@theme {
  --color-bg: #0a0a0a;
  --color-surface: #111111;
  --color-accent: #00ff41;
  --color-muted: #333333;
  --color-text: #e0e0e0;

  --font-display: 'Obitron', sans-serif;
  --font-mono: 'Share Tech Mono', monospace;
  --font-pixel: 'VT323', monospace;
}

@keyframes fadeIn {

}

@keyframes rain {

}